/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: DM Sans, sans-serif;
    line-height: 1.6;
    background-color: rgb(244, 244, 244);
}
a {
    text-decoration: none;
    color: #000;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    aspect-ratio: 10 / 1;
    margin-left: 13vw;
    margin-right: 13vw;    
}
.my-name {    
    font-size: 14px;
    white-space: nowrap;    
}

.nav {    
    width: 12vw;
    display: flex;
    justify-content: space-between;
    font-size: 14px;    
}

#about {
    display: flex;
    align-items: center;
    justify-content: space-around;
    aspect-ratio: 2 / 1;
    margin-left: 13vw;
    margin-right: 13vw;    
}

.profile-picture {    
    width: 20vw;
    aspect-ratio: 3 / 4;
    margin-left: 3vw;
    border-radius: 1.1vh;        
}
.info {
    width: 29.5vw;
    margin-right: 3vw;         
}
.info h1 {    
    margin-bottom: 2vw;
    color: rgba(50, 50, 50, 1);
    font-size: clamp(1.5rem, 5vw, 2rem);
    font-weight: 500;
}
.info p {
    font-size: 15px;
}

.h2-line {
    display: flex;
    align-items: center;
    margin-left: 13vw;
    margin-right: 13vw;
    margin-top: 10vw;
    margin-bottom: 3vw;    
}

.h2-line h2 {
    font-weight: 500;
    margin: 0;
    padding-right: 0.5vw;    
    white-space: nowrap; 
    color: rgba(50, 50, 50, 1);   
}

.line {
    flex-grow: 1;
    height: 1px;
    margin-left: 2.1vw;
    background-color: rgba(50, 50, 50, 1);
    
}
.project-box {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    aspect-ratio: 2.65 / 1;
    margin-left: 13vw;
    margin-right: 13vw;
    margin-bottom: 4vw;    
}

.project-image {
    width: 23vw;
    aspect-ratio: 4.5 / 3;
    border-radius: 1.1vh;
    object-fit: cover;
}
.project-image,
.project h3,
.project p {
    margin-bottom: 0.5vw;    
}
.project h3 {
    color: rgba(50, 50, 50, 1);
    font-weight: 500;
}
.project p {
    color: rgba(134, 134, 134, 1);
    font-size: 13px;
}
.project button {
    font-size: 13px;
    padding: 12px 20px;
    margin-top: 0.75vw;    
    border: none;
    border-radius: 22px;
    background-color: rgba(50, 50, 50, 1);
    color: white;
    cursor: pointer;
}
.contact-box {
    display: flex;
    justify-content: start;    
    margin-top: 1.5vw;
    margin-left: 13vw;
    margin-right: 13vw;
    margin-bottom: 2.5vw;
    aspect-ratio: 10 / 1;    
}
.contact-p {
    color: rgba(134, 134, 134, 1);
}
.contact-box div {
    margin-right: 11vw;    
}



/* Simple responsivness */
@media only screen and (max-width: 600px) {
    header {
        display: flex;
        align-items: center;        
        margin-left: 25px;
        margin-right: 25px;
    }
    .my-name {
        width: 300px;
        
    }
    .nav {
        display: none;
        
    }
    #about {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin-left: 25px;
        margin-right: 25px;
        width: auto;
    }
    .info {
        width: 345px;
        text-align: justify;
    }
    .info h1 {
        white-space: nowrap;
        margin-bottom: 20px;
        font-size: 2rem;
    }
    .info p {
        margin-bottom: 20px;
    }
    .profile-picture {
        margin-bottom: 20px;
        width: 345px;
        height: 420px;
        object-fit: cover;
    }
    .h2-line {
        display: flex;
        align-items: center;
        width: 345px;
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 20px;
        margin-bottom: 20px;
    }    
    .h2-line h2 {
        margin: 0;
        margin-left: 25px;
        padding-right: 10px;    
        white-space: nowrap; 
        color: rgba(50, 50, 50, 1);   
    }    
    .line {
        flex-grow: 1;
        height: 1px;
        margin-left: 40px;
        background-color: rgba(50, 50, 50, 1);
        
    }
    .project-box {
        display: flex;
        flex-direction: column;
        margin-left: 25px;
        margin-right: 25px;
        width: 345px;
        margin-bottom: 20px;
    }
    .contact-box {
        display: flex;
        justify-content: start;
        flex-direction: column;    
        margin-top: 30px;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 50px;
        
    }
   
}